* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root {
    --lm-bg: #f6f8ff;
    --lm-bg-content: #fefefe;
    --lm-text: #4b6a9b;
    --lm-text-alt: #2b3442;
    --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
    --lm-icon-bg: brightness(100%);
    --btn: #FFB000;
    --btn-hover: #FFBB5C;
}

body {
    background-color: var(--lm-bg);
    font-size: 13px;
    color: var(--lm-text);
    width: 100%;
    position: relative;
}

.container {
    width: 327px;
    height: 100%;
    padding-top: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 36px;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#theme-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    letter-spacing: 2.5px;
    color: var(--lm-text);
    font-weight: bold;
    cursor: pointer;
}

.icon-container {
    display: flex;
    align-items: center;
}

.searchbar-container {
    position: relative;
    background-color: var(--lm-bg-content);
    border-radius: 15px;
    box-shadow: var(--lm-shadow);
    display: flex;
    height: 100%;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
    background-image: url(/static/assets/icon-search.svg);
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: center;
    background-size: 20px;
}

input {
    border: none;
    width: 80%;
    outline: none;
    background: none;
    color: var(--lm-text);
    padding-left: 50px;
}

input::placeholder {
    color: var(--lm-text);
    letter-spacing: -0.5px;
    font-size: 13px;
}

.searchbar-container img {
    height: 20px;
    width: 20px;
    padding: 0 10px 0px 16px;
}

.btn-search {
    min-width: 84px;
    padding: 12px 16px;
    background-color: var(--btn);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.btn-search:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
}

.btn-search:active {
    transform: scale(0.975);
}

.url-container {
    background-color: var(--lm-bg-content);
    border-radius: 15px;
    box-shadow: var(--lm-shadow);
    padding: 24px;
}

#entered-urls {
    overflow-y: auto;
    height: 400px;
    padding: 15px;
}

#entered-urls::-webkit-scrollbar-thumb {
    background: var(--lm-text);
    border-radius: 6px;
}

#entered-urls::-webkit-scrollbar-track {
    background: var(--lm-bg);
}

#entered-urls::-webkit-scrollbar {
    width: 5px;
}

.url-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.url-stats-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--lm-bg);
    text-align: center;
    border-radius: 10px;
    padding: 18px;
}

.url-stat {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.url-stat img {
    width: 20px;
}

.url {
    font-size: 14px;
    text-decoration: none;
    color: var(--lm-text-alt);
    overflow: hidden;
}

.stat-value {
    font-size: 16px;
    font-weight: bold;
    color: var(--lm-text-alt);
}

#no-url-entered {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lm-bg);
    border-radius: 16px;
    padding: 20px;
}

#no-url-entered img {
    width: 50%;
}

.error {
    position: absolute;
    color: red;
    font-weight: bold;
    right: 10px;
    top: -25px;
}

.dm-text {
    color: var(--dm-text);
}

.dm-bg {
    background-color: var(--dm-bg);
}

.dm-bg-sec {
    background-color: var(--dm-bg-content);
}

.active {
    box-shadow: var(--lm-shadow);
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

/* tablet */
@media screen and (min-width: 768px) {
    .container {
        width: 573px;
    }

    .searchbar-container {
        padding: 10px;
    }

    input {
        font-size: 18px;
        width: 75%;
    }

    input::placeholder {
        font-size: 18px;
    }

    .btn-search {
        padding: 14px 28px;
        font-size: 16px;
    }

    #app {
        gap: 24px;
    }

    .url-container {
        padding: 20px 40px;
    }

    .url-content {
        gap: 10px;
    }

    .error {
        font-size: 15px;
        top: -30px;
    }

    .url-stats-wrapper {
        padding: 18px 12px;
    }

    .url-stat {
        text-align: start;
    }

    url {
        font-size: 13px;
    }

    .stat-value {
        font-size: 22px;
    }

}

/* Desktop */
@media screen and (min-width: 1280px) {
    .container {
        width: 730px;
    }

    .url-container {
        position: relative;
    }

    .url-content {
        gap: 0;
    }

    .url-stats-wrapper {
        margin: 20px 0;
    }

    .error {
        top: 50%;
        right: 20%;
        transform: translateY(-50%);
        font-size: 15px;
    }

    input {
        width: 65%;
    }

    .url-stat img {
        width: 30px;
    }
}
